
{% extends '::base.html.twig' %}


{% block left_article %}

    <h2>Категория: {{ category.name }}</h2>

    <ul id="products">
        {% for item in products %}
            <li><a href="../item/{{ item.name }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

{% block right_article %}{% endblock %}